@use 'variables' as *;

.head {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 2rem;

	.image {
		width: 50px;
		border-radius: 50%;
		margin: 0 10px;
	}
	.greeting {
		* {
			margin: 0;
		}

		.name {
			font-weight: 500;
			font-size: 1.1rem;
		}
	}
}
